# Executáveis
**/signals/emissor
**/signals/receptor

**/pipes/produtor_consumidor

# Executáveis do Windows
*.exe

# Arquivos de log
*.log
*.csv

# Arquivos de objeto intermediários
*.o
*.obj

# Arquivos temporários e de sistema
*.swp
*~
.DS_Store

# Configurações do VSCode
.vscode/